body {
    background-image: linear-gradient(to right, #ce6f1f, #e9cdab, #e9cdab, #e9cdab, #ce6f1f);
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
}

input[type=text] {
  background-color: white;
  color: black;
}

input[type=text]:focus {
  background-color: lightpink;
}

textarea {
  width: 20%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

input[type=text] {
  width: 15%;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[list] {
  width: 15%;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

select
{
width: 15%;
padding: 12px 20px;
border: 2px solid red;
border-radius: 4px;
background-color: rgb(255,255,255);
}